* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5b3b8c;
    font-family: 'Roboto', sans-serif;
}

nav {
    background: white;
    color: #5b3b8c;
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

a {
    text-decoration: none;
}


/* General */
#wrapper1, #wrapper2, #wrapper3, #wrapper4 {
    background: white;
    width: 70%;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 5px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 20px;
}
#startBtn:hover, .mcBtns:hover, #submitBtn:hover, #mainPgBtn:hover, #clearScoreBtn:hover {
    background: #a86cc1;
}


/* Main Page */
#header1 {
    padding-top: 40px;
}
#directions {
    padding: 50px;
}
#startBtn {
    background: #5b3b8c;
    color: white;
    width: 150px;
    line-height: 2.3em;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}


/* Q&A Page */
#changingTxt {
    font-size: 20px;
    font-weight: 500;
    padding: 40px;
}
#multipleChoice {
    text-align: left;
}
.mcBtns, .btns {
    background: #5b3b8c;
    color: white;
    max-width: 500px;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
#correctOrWrong {
    text-align: center;
    color: white;
    font-size: 3em;
    margin-top: 20px;
}


/* Name & Score Form Page */
form {
    padding-top: 100px;
}
#form h2, #finalScore {
    margin-bottom: 20px;
}
#finalScore {
    color: #5b3b8c;
    font-size: 2.5em;
    font-weight: 500;
}
#username {
    line-height: 2em;
    padding-left: 5px;
}
#username:focus {
    outline: none;
}
#submitBtn {
    background: #5b3b8c;
    color: white;
    max-width: 100px;
    line-height: 1.8em;
    padding: 2px 15px;
    border-radius: 5px;
    border: none;
}

/* High Scores Page */
#header2 {
    padding: 40px;
}
#scoreboard {
    margin-bottom: 20px;
}
.topscores {
    background: #ececec;
    margin-bottom: 4px;
    padding: 4px 10px;
    text-align: left;
}


/* Footer */
footer {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer {
    padding: 20px;
}

/* For mobile */
@media (max-width: 450px) {
    #wrapper1, #wrapper2, #wrapper3, #wrapper4 {
        width: 90vw;
        margin-top: 20px;
    } 

    nav {
        text-align: center;
    }
}