* {
    margin: 0;
    padding: 0;
}

body {
    background: #5b3b8c;
    padding: 10px;
}

nav {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px; 
}

a {
    color: #5b3b8c;
   text-decoration: none;
}

.wrapper {
    background: white;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 5px;
}