* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5b3b8c;
    font-family: 'Roboto', sans-serif;
    
}

nav {
    background: white;
    color: #5b3b8c;
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

a {
    text-decoration: none;
}

.wrapper {
    background: white;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 5px;
    text-align: center; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#multipleChoice {
    display: none;
    margin: 0 auto;
}

#startBtn {
    background: #5b3b8c;
    color: white;
    width: 150px;
    line-height: 2.3em;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
}

footer {
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer {
    padding: 20px;
}